.mapouter{
    position:relative;
    text-align:right;
    height:30rem;
    width:100%;}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:30rem;
    width:100%}

#gmap_canvas {
    height: 30rem;
    width: 100%;
}

.contacts {
    padding: 0 0 4rem 0;
}