@import "variables.scss";

.footer-container {
    background-color: white;
    padding-top:3rem;
}

.footer-cols {
    padding-bottom: 3rem;
}

.footer-col {
    border-right: 1px solid $tan;
    text-align: center;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    a {
        display: block;
        color: $black;;
    };
    h4{padding-bottom: 1rem;}
}

.footer-col:last-of-type{
    border: none;
}

.copyright {
    padding: 1.5rem;
    text-align: center;
    background-color: $wine;
    color:$tan;
    p{
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .social-sites {
        padding-bottom: 3rem;
        border: none;
    }
}