@import "variables.scss";

.nav-container {
	 background-color: white;
	 padding-top: 1.5rem;
	 padding-bottom: 1.5rem;
	 border-bottom: 1px solid $wine;
}

.navbar-brand, .nav-link {color: $black!important}

.nav-link {
    font-size: $m;
    position: relative;
}

.nav-link {
	padding: 0 20px !important;
	height: 45px;
	line-height: 45px;
}

.nav-link::before,
.nav-link::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: $wine;
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.nav-link::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.nav-link::after {
	right: 0;
	bottom: -2px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.nav-link:hover::before,
.nav-link:hover::after,
.nav-link:focus::before,
.nav-link:focus::after {
	opacity: 1;
}

.nav-link:hover::before,
.nav-link:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.nav-link:hover::after,
.nav-link:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}

.navbar-brand img {
    width: 13rem;
}

.nav-item {
	margin-left: 2rem;
}