@import "variables.scss";

.big-photo {
    background-image: url("../images/teambuilding.jpg");
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
}


.cta {
    padding-bottom: 5rem;
}